body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
    --mdc-theme-primary: #4caf50 !important;
    --mdc-theme-secondary: #ff0000 !important;
    --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark) !important;
}

#root {
    width: 100%;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.main-content {
    overflow: auto;
    height: 100%;
}

.app-bar {
    position: absolute;
}

.demo-card__primary-action {
    padding: 16px;
}